body {
	padding-bottom: 20px;
  }
  
  .navbar {
	margin-bottom: 20px;
  }
  $('#myCarousel').on('slid.bs.carousel', function (e) {
	$('#myCarousel').carousel('2') // Will slide to the slide 2 as soon as the transition to slide 1 is finished
  })
  
  $('#myCarousel').carousel('1') // Will start sliding to the slide 1 and returns to the caller
  $('#myCarousel').carousel('2') // !! Will be ignored, as the transition to the slide 1 is not finished !!
  // changes default for the modal plugin's `keyboard` option to false
$.fn.modal.Constructor.Default.keyboard = false
.content-section {
  min-height: 2000px;
}
.sidebar-section {
  position: absolute;
  height: 100%;
  width: 100%;
}


.sidebar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* Position the items */
  // &:nth-child(2) { top: 25%; }
  // &:nth-child(3) { top: 50%; }
  // &:nth-child(4) { top: 75%; }
}


.make-me-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
    
  padding: 0 15px;
}



/* Ignore This, just coloring */
body {
  background: #fff;
}

article {
  background: #f1f1f1;
  border-radius: 12px;
  padding: 25px 0 600px;
}


.title-section, .content-section, .sidebar-section {
  background: #fff;
  // border-radius: 12px;
  // border: solid 10px #f1f1f1; 
}

.title-section {
  text-align: center;
  padding: 50px 15px;
  margin-bottom: 30px;
}

.content-section h2 {
  text-align: center;
  margin: 0;
  padding-top: 200px;
}

.sidebar-item {
  text-align: center;
  
  h3 {
    background: gold;
    max-width: 50%;
    margin: 0 auto;
    padding: 50px 0 100px; 
    border-bottom: solid 1px #fff;
  }
}
h2 {
  text-align: center;
  margin: 30px 0;
}
.demo-card {
width: 25%;
max-width: 200px;
margin: 0 auto 100px;
}
h4.title {
text-align: center;
}